#board {
    background: rgb(255, 255, 255);
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgb(210, 226, 209);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}